<h2 class="mainTitle">Ingrese Producto</h2>
<form class="productsForm" action="/api/productos" method="POST">
    Nombre: <input name="title"> 
    Precio: <input name="price"> 
    Foto URL: <input name="thumbnail"> 
    <button class="postProductButton">Enviar</button>
</form>