{
  "openapi": "3.0.0",
  "info": {
    "title": "API Coderhouse",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "http://development.com/api",
      "description": "dev server"
    },
    {
      "url": "http://production.com/api",
      "description": "prod server"
    },
    {
      "url": "http://localhost:3000.com/api",
      "description": "local server"
    }
  ],
  "paths": {
    "/products/{id}": {
      "get": {
        "description": "gets some of all products from the database",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "product ID"
          },
          {
            "name": "only",
            "in": "query",
            "description": "which fields of the product to keep",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Products obtained successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Products"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Products"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "description": "product data to be saved",
            "schema": {
              "$ref": "#/components/schemas/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "test"
          },
          "price": {
            "type": "number",
            "example": 2525
          },
          "description": {
            "type": "string",
            "example": "product test"
          }
        },
        "xml": {
          "name": "Product"
        }
      },
      "Products": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "example": 2
            },
            "name": {
              "type": "string",
              "example": "test2"
            },
            "price": {
              "type": "number",
              "example": 2555
            },
            "description": {
              "type": "string",
              "example": "product test2"
            }
          }
        },
        "xml": {
          "name": "Products"
        }
      }
    }
  }
}