<h2 class="mainTitle">Chat: {{userData.userName}}</h2>
Mensaje: <input class="chatInput">
<button class="chatInputButton">Enviar</button>
<a href="/api/home"><button class="goBackButton">Volver</button></a>
<div class="chatLog"></div>