<h2 class="mainTitle">Chat</h2>
<input class="chatUser">
<input class="chatInput">
<button class="chatInputButton">Enviar</button>
<a href="/"><button class="goBackButton">Volver</button></a>
<div class="chatLog"></div>