<h2>Bienvenido {{userData.alias}}!</h2>
<a href="/api/productos"><button class="gotoProductsButton">Ir a Productos</button></a>
<a href="/api/chat"><button class="gotoChatButton">Chatear</button></a>
<a href="/api/users/logout"><button class="logoutButton">Logout</button></a>
