<h2>Bienvenido: {{userName}}</h2>
<a href="./productos"><button class="gotoProductsButton">Ir a Productos</button></a>
<a href="./chat"><button class="gotoChatButton">Chatear</button></a>
<a href="./logout"><button class="logoutButton">Logout</button></a>
