<form class="loginForm">
    <label class="loginFormLabel userAliasLabel">Alias:
    <input name="alias" class="userAliasInput">
    </label>

    <label class="loginFormLabel userPasswordLabel">Password:
    <input name="pass" class="userPasswordInput">
    </label>

    <button class="loginButton" type="submit" formaction="/api/users/login" formmethod="post">Ingresar</button>
</form>
<a href="/" class="goBackButton"><button class="goBackButton">Volver</button></a>