<form class="registerForm">
    <label class="registerFormLabel userEmailLabel">Email:
    <input name="userEmail" class="userEmailInput">
    </label>

    <label class="registerFormLabel userNameLabel">Nombre:
    <input name="userName" class="userNameInput">
    </label>

    <label class="registerFormLabel userSurnameLabel">Apellido:
    <input name="userSurname" class="userSurnameInput">
    </label>

    <label class="registerFormLabel userAgeLabel">Edad:
    <input name="userAge" class="userAgeInput">
    </label>

    <label class="registerFormLabel userAliasLabel">Alias:
    <input name="userAlias" class="userAliasInput">
    </label>
    
    <label class="registerFormLabel userPasswordLabel">Alias:
    <input name="userPassword" class="userPasswordInput">
    </label>

    <button class="registerButton" type="submit" formaction="api/users/register" formmethod="post">Registrarse</button>
</form>
<a href="/" class="goBackButton"><button class="goBackButton">Volver</button></a>