<html>
    <%- include('../partials/head')%>
    <body>
        <h2>Productos</h2>
            <%- include('../partials/content', {data})%>
        <a href="../"><button>Volver</button></a>
    </body>
</html>